<div class="container main-page">
  <div class="slider-container" >
    <div class="slide-holder" >
    <div ng-repeat="slide in sliderState.slides" >
        <div ng-style="{ 'background': slide +'no-repeat 0 0'}" ng-show="sliderState.currentSlide == $index+1" class="slide"></div>
    </div>
    </div>
    <span ng-click="nextSlide()" ng-show="sliderState.hasNext" class="fa-stack fa-lg chevron-holder right">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-chevron-right fa-stack-1x"></i>
    </span>

     <span ng-click="prevSlide()" ng-show="sliderState.hasPrevious" class="fa-stack fa-lg chevron-holder left">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-chevron-left fa-stack-1x"></i>
    </span>

    <ul class="slide-list-set">
      <li ng-class="{active: $index+1 == sliderState.currentSlide}" ng-repeat="slide in sliderState.slides" ng-click="setSlide($index)" class="slide-list">
        <div ></div>
      </li>
    </ul>
  </div>

  <div class="news-container">
      <div class="news-holder" ng-repeat="news in newsSet |limitTo:limit"></div>
  </div>

  <button class="button-white large" ng-click="limit = limit+2">Больше новостей</button>
</div>

